/nbproject/
/nbproject/private/
/dist/
/build/
/web/resources/js/app/*.js
/web/resources/js/app/*.map
/web/resources/js/app/templates/*.js
/web/resources/js/app/templates/*.map
/web/resources/js/app/routes/*.js
/web/resources/js/app/routes/*.map
/web/resources/js/app/profile/*.js
/web/resources/js/app/profile/*.map
/web/resources/js/app/member/*.js
/web/resources/js/app/member/*.map
/web/resources/js/app/admin/*.js
/web/resources/js/app/admin/*.map
/web/resources/js/app/common/*.js
/web/resources/js/app/common/*.map
/web/resources/js/app/dto/*.js
/web/resources/js/app/dto/*.map
/web/resources/js/app/featuredad/*.js
/web/resources/js/app/featuredad/*.map
/web/resources/js/app/dashboard/*.js
/web/resources/js/app/dashboard/*.map
/web/resources/js/app/manageproduct/*.js
/web/resources/js/app/manageproduct/*.map
/web/resources/js/app/home/*.js
/web/resources/js/app/home/*.map
/web/resources/js/app/message/*.js
/web/resources/js/app/message/*.map
/web/resources/js/app/account/*.js
/web/resources/js/app/account/*.map
