<div class="row form-group">
    <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-9 col-lg-offset-3 col-lg-9">
        <div class="row form-group">
            <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                <h3 class="create-ad-heading">Create Your Advertise</h3>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="tabbable tabs-left">
            <div class="row form-group">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 form-group">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#step1" data-toggle="tab">STEP 1</a></li>
                        <li><a href="#step2" data-toggle="tab">STEP 2</a></li>
                        <li><a href="#step3" data-toggle="tab">STEP 3</a></li>
                        <li><a href="#step4" data-toggle="tab">STEP 4</a></li>
                        <li><a href="#step5" data-toggle="tab">STEP 5</a></li>
                        <li><a href="#step6" data-toggle="tab">STEP 6</a></li>
                        <li><a href="#step7" data-toggle="tab">STEP 7</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                    <div class="row form-group">
                        <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                            <div class="tab-content">
                                <form role="form" (submit)="addProduct($event)" method="post">
                                <div class="tab-pane active" id="step1">
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                            <h5 class="create-ad-label">I have for Rent</h5>
                                        </div>
                                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                            <select class="form-control select-custom-field">
                                                <option *ngFor="let room of roomList" value="{{room.title}}"><a id="{{room.id}}">{{room.title}}</a></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                            <h5 class="create-ad-label">Size of property</h5>
                                        </div>
                                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                            <select class="form-control select-custom-field">
                                                <option *ngFor="let productSize of productSizeList" value="{{productSize.title}}"><a id="{{productSize.id}}">{{productSize.title}}</a></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                            <h5 class="create-ad-label">Type of property</h5>
                                        </div>
                                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                            <select class="form-control select-custom-field">
                                                <option *ngFor="let productType of productTypeList" value="{{productType.title}}"><a id="{{productType.id}}">{{productType.title}}</a></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-offset-8 col-sm-4 col-md-offset-8 col-md-4 col-lg-offset-8 col-lg-4">
                                            <button id="step1" name="step1" class="form-control common-custom-button">Next Step</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="step2">
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                            <h5 class="create-ad-label">Area</h5>
                                        </div>
                                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                            <select class="form-control select-custom-field">
                                                <option *ngFor="let area of areaList" value="{{area.searchString}}"><a id="{{area.id}}">{{area.searchString}}</a></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                            <h5 class="create-ad-label">Amenities</h5>
                                        </div>
                                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                            <div id="{{amenity.id}}" *ngFor="let amenity of amenityList">
                                                 <p><input type="checkbox"/> {{amenity.title}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-offset-8 col-sm-4 col-md-offset-8 col-md-4 col-lg-offset-8 col-lg-4">
                                            <button id="step2" name="step2" class="form-control common-custom-button">Next Step</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="step3">
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                            <h5 class="create-ad-label">Min Stay</h5>
                                        </div>
                                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                            <select class="form-control select-custom-field">
                                                <option *ngFor="let minStay of minStayList" value="{{minStay.title}}"><a id="{{minStay.id}}">{{minStay.title}}</a></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                            <h5 class="create-ad-label">Max Stay</h5>
                                        </div>
                                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                            <select class="form-control select-custom-field">
                                                <option *ngFor="let maxStay of maxStayList" value="{{maxStay.title}}"><a id="{{maxStay.id}}">{{maxStay.title}}</a></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-offset-8 col-sm-4 col-md-offset-8 col-md-4 col-lg-offset-8 col-lg-4">
                                            <button id="step3" name="step3" class="form-control common-custom-button">Next Step</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="step4">
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                            <h5 class="create-ad-label">Smoking</h5>
                                        </div>
                                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                            <select class="form-control select-custom-field">
                                                <option *ngFor="let smoking of smokingList" value="{{smoking.title}}"><a id="{{smoking.id}}">{{smoking.title}}</a></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                            <h5 class="create-ad-label">Occupation</h5>
                                        </div>
                                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                            <select class="form-control select-custom-field">
                                                <option *ngFor="let occupation of occupationList" value="{{occupation.title}}"><a id="{{occupation.id}}">{{occupation.title}}</a></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                            <h5 class="create-ad-label">Pets</h5>
                                        </div>
                                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                            <select class="form-control select-custom-field">
                                                <option *ngFor="let pet of petList" value="{{pet.title}}"><a id="{{pet.id}}">{{pet.title}}</a></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-offset-8 col-sm-4 col-md-offset-8 col-md-4 col-lg-offset-8 col-lg-4">
                                            <button id="step4" name="step4" class="form-control common-custom-button">Next Step</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="step5">
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                            <h5 class="create-ad-label">Title</h5>
                                        </div>
                                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                            <input [(ngModel)]="product.title" class="form-control input-custom-field" name="title" placeholder="Title" type="text" />
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                            <h5 class="create-ad-label">Description</h5>
                                        </div>
                                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                            <textarea [(ngModel)]="product.description" name="description" rows="8" class="form-control input-custom-field" placeholder="Description Here..."></textarea>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                            <h5 class="create-ad-label">Your Name</h5>
                                        </div>
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                            <input [(ngModel)]="product.firstName" name="firstName" class="form-control input-custom-field" placeholder="First Name" type="text"/>
                                        </div>
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                            <input [(ngModel)]="product.lastName" name="lastName" class="form-control input-custom-field" placeholder="Last Name" type="text">
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                            <h5 class="create-ad-label">Telephone</h5>
                                        </div>
                                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                            <input [(ngModel)]="product.phone" name="phone" class="form-control input-custom-field" placeholder="Telephone" type="text"/>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-offset-8 col-sm-4 col-md-offset-8 col-md-4 col-lg-offset-8 col-lg-4">
                                            <button id="step5" name="step5" class="form-control common-custom-button">Next Step</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="step6">
                                    <div class="row form-group">
                                        <style>
                                            .my-drop-zone { border: dotted 3px lightgray; }
                                            .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
                                            .another-file-over-class { border: dotted 3px green; }

                                            html, body { height: 100%; }
                                        </style>

                                        <div class="container">
                                            <br/>
                                            <br/>
                                            <br/>

                                            <div class="row">
                                                <div class="col-md-12" style="margin-bottom: 40px">

                                                    <h5>Select file(can be multiple file selection)</h5>
                                                    <input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>

                                                    <h3>Upload queue</h3>
                                                    <p>Queue length: {{ uploader?.queue?.length }}</p>

                                                    <table class="table">
                                                        <thead>
                                                        <tr>
                                                            <th width="50%">Name</th>
                                                            <th>Size</th>
                                                            <th>Progress</th>
                                                            <th>Status</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr *ngFor="let item of uploader.queue">
                                                            <td><strong>{{ item?.file?.name }}</strong></td>
                                                            <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                                                            <td *ngIf="uploader.isHTML5">
                                                                <div class="progress" style="margin-bottom: 0;">
                                                                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                                                </div>
                                                            </td>
                                                            <td class="text-center">
                                                                <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                                                <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                                                <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                                            </td>
                                                            <td nowrap>
                                                                <button type="button" class="btn btn-success btn-xs"
                                                                        (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                                                    <span class="glyphicon glyphicon-upload"></span> Upload
                                                                </button>
                                                                <button type="button" class="btn btn-warning btn-xs"
                                                                        (click)="item.cancel()" [disabled]="!item.isUploading">
                                                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                                                </button>
                                                                <button type="button" class="btn btn-danger btn-xs"
                                                                        (click)="item.remove()">
                                                                    <span class="glyphicon glyphicon-trash"></span> Remove
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>

                                                    <div>
                                                        <div>
                                                            Queue progress:
                                                            <div class="progress" style="">
                                                                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                                                            </div>
                                                        </div>
                                                        <button type="button" class="btn btn-success btn-s"
                                                                (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                                                            <span class="glyphicon glyphicon-upload"></span> Upload all
                                                        </button>
                                                        <button type="button" class="btn btn-warning btn-s"
                                                                (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                                                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                                                        </button>
                                                        <button type="button" class="btn btn-danger btn-s"
                                                                (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                                                            <span class="glyphicon glyphicon-trash"></span> Remove all
                                                        </button>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-offset-8 col-sm-4 col-md-offset-8 col-md-4 col-lg-offset-8 col-lg-4">
                                            <button id="step4" name="step4" class="form-control common-custom-button">Next Step</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="step7">
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                            <h5 class="create-ad-label">Daily Email Alerts</h5>
                                        </div>
                                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                            <p id="dailyEmailAlert"  class="text-justify"><input type="checkbox"/>  Yes, please send me daily summary emails of new Rooms Wanted adverts matching my requirements </p>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                            <h5 class="create-ad-label"> Instant Email Alerts</h5>
                                        </div>
                                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                            <p id="instantEmailAlert" class="text-justify"><input type="checkbox"/>  Yes, please send me emails of new Rooms Wanted adverts matching my requirements as soon as they are placed on the website  </p>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-sm-offset-8 col-sm-4 col-md-offset-8 col-md-4 col-lg-offset-8 col-lg-4">
                                            <button class="form-control common-custom-button">Place Your Advert</button>
                                        </div>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--



Manage New Product



<br/>Duration list<br/>
============================<br/>
<ul>
    <li *ngFor="let duration of durationList">
        id: {{duration.id}} , title: {{duration.title}}
</li>
</ul>


-->