<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="text-center basic-search-header">Basic Search</h1>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 form-group">
            <h3 class="basic-search-selection-title">Search Location</h3>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 form-group">
            <div class="basic-search-page-search-box-layout">
                <input #locationSelector name="locationSelector" [(ngModel)]="selectedLocation"
                    [typeahead]="locationList"
                    typeaheadOptionField="searchString"
                    class="form-control search-input-field" placeholder="Search for Location">
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 form-group">
            <h3 class="basic-search-selection-title">Radius</h3>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <select class="form-control select-custom-field">
                <option *ngFor="let radius of radiusList" value="{{radius.title}}"><a id="{{radius.id}}">{{radius.title}}</a></option>
            </select> 
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 form-group">
            <h3 class="basic-search-selection-title">Property Type</h3>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 form-group">
            <select class="form-control select-custom-field">
                <option *ngFor="let productType of productTypeList" value="{{productType.title}}"><a id="{{productType.id}}">{{productType.title}}</a></option>
            </select> 
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <h3 class="basic-search-selection-title">Advert Ref#</h3>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 form-group">
            <input id="advertRef" class="form-control input-custom-field" placeholder="Enter Your Advert Ref#"> 
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-12 col-sm-offset-8 col-sm-4 col-md-offset-10 col-md-2 col-lg-offset-10 col-lg-2  form-group">
            <button id="basicSearchButton" class="form-control common-custom-button">Search</button>
        </div>
    </div>
</div>
<!--
Basic Search Page<br/>


Location list<br/>
============================<br/>
<ul>
    <li *ngFor="let location of locationList">
        id: {{location.id}} , locationType {{location.locationType}}, searchString : {{location.searchString}}
</li>
</ul>

Radius list<br/>
============================<br/>
<ul>
    <li *ngFor="let radius of radiusList">
        id: {{radius.id}} , title: {{radius.title}}
</li>
</ul>

Min Price list<br/>
============================<br/>
<ul>
    <li *ngFor="let minPrice of minPriceList">
        id: {{minPrice.id}} , symbol {{minPrice.symbol}}, amount : {{minPrice.amount}}
</li>
</ul>

Max Price list<br/>
============================<br/>
<ul>
    <li *ngFor="let maxPrice of maxPriceList">
        id: {{maxPrice.id}} , symbol {{maxPrice.symbol}}, amount : {{maxPrice.amount}}
</li>
</ul>

Product Type list<br/>
============================<br/>
<ul>
    <li *ngFor="let productType of productTypeList">
        id: {{productType.id}} , title: {{productType.title}}
</li>
</ul>

Occupation list<br/>
============================<br/>
<ul>
    <li *ngFor="let occupation of occupationList">
        id: {{occupation.id}} , title: {{occupation.title}}
</li>
</ul>

Gender list<br/>
============================<br/>
<ul>
    <li *ngFor="let gender of genderList">
        id: {{gender.id}} , title: {{gender.title}}
</li>
</ul>

Room size list<br/>
============================<br/>
<ul>
    <li *ngFor="let roomSize of roomSizeList">
        id: {{roomSize.id}} , title: {{roomSize.title}}
</li>
</ul>

Duration list<br/>
============================<br/>
<ul>
    <li *ngFor="let duration of durationList">
        id: {{duration.id}} , title: {{duration.title}}
</li>
</ul>-->