<div class="non-member-bg">
    <div class="steps">
        <div class="container">
            {{errorMsg}}
            <div class="row form-group">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">
                    <div class="row">
                        <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
                            <img src="resources/images/steps1.png">
                        </div>
                        <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                            <span class="hd-content">Create an account and Login</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">
                    <div class="row">
                        <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
                            <img src="resources/images/steps2.png">
                        </div>
                        <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                            <span class="hd-content">Bid and Win</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">
                    <div class="row">
                        <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
                            <img src="resources/images/steps3.png">
                        </div>
                        <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                            <span class="hd-content">Pay the Rent</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">
                    <div class="row">
                        <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
                            <img src="resources/images/steps4.png">
                        </div>
                        <div class="col-xs-8 col-sm-9 col-md-9 col-lg-9">
                            <span class="hd-content">Enjoy your Stay</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row form-group search-login-top-bottom-margin">
            <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
                <div class="search-box-pagelet form-group">
                    <form role="form" (submit)="search($event, locationSelector.value)">
                          <div class="row form-group">
                            <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8 form-group">
                                <div class="landing-page-search-box-layout">
                                    <input #locationSelector name="locationSelector" [(ngModel)]="selectedLocation"
                                        [typeahead]="locationList"
                                        typeaheadOptionField="searchString"
                                        class="form-control search-input-field">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 form-group">
                                <button type="submit" class="form-control common-custom-button non-member-search-input">Rent</button>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <h1 for="id" class="text-center landing-page-search-box-header-text">Find your solution</h1>
                                <h3 for="id" class="text-center landing-page-search-box-small-text">Search properties for sale and to rent</h3>
                            </div>
                        </div>
                    </form> 
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                <form role="form" (submit)="login($event, username.value, password.value)" >
                      <div class="login-pagelet">
                        <div class="login-block">
                            <h1>Login</h1>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <input type="text" #username id="username" class="form-control input-custom-field" placeholder="Your Name"/>
                                    <input type="password" #password id="password" class="form-control input-custom-field" placeholder="Your Password"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group">
                                    <div class="password-forgotten-anchor">
                                        <a href="">Password forgotten</a>
                                    </div>
                                    <!--                                    <div class="sign-up-anchor">
                                                                            <a [routerLink]="['/signup']" (click)="signup($event)">Click here to Signup</a>
                                                                        </div>-->
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group">
                                    <button type="submit" class="form-control common-custom-button">Login</button> 
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container margin-top-bottom-50px">
    <div class="row form-group">
        <div *ngFor="let product of featuredProductList" class="col-xs-12 col-sm-6 col-md-4 col-lg-4 form-group" >
            <div class="product-auction-head">
                <div class="product-auction-img">
                    <a href=""><img class="img-responsive" src="resources/images/{{product.img}}"></a>
                </div>
                <div class="product-auction-title margin-bottom-5px">
                    <h3>{{product.title}}</h3>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-offset-1 col-md-4 col-lg-offset-1 col-lg-4 margin-bottom-15px" >
                        <button class="form-control product-details-bid-button">Bid</button>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-offset-1 col-md-4 col-lg-offset-1 col-lg-4" >
                        <div class="form-control product-auction-price">
                            <span>{{product.price}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="landing-page-footer-top-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-offset-1 col-md-2 col-lg-offset-1 col-lg-2 form-group" >
                <h2 class="landing-page-footer-top-section-header">QUICKLINKS</h2>
                <ul class="landing-page-footer-top-section-ul">
                    <li><a>About</a></li>
                    <li><a>Buy and Sell</a></li>
                    <li><a>Find Out</a></li>
                    <li><a>Search</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 form-group" >
                <h2 class="landing-page-footer-top-section-header">PROCESS</h2>
                <ul class="landing-page-footer-top-section-ul">
                    <li><a>Prices</a></li>
                    <li><a>Places</a></li>
                    <li><a>Near your city</a></li>
                    <li><a>Auctions</a></li>
                    <li><a>Pay</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 form-group" >
                <h2 class="landing-page-footer-top-section-header">SERVICE</h2>
                <ul class="landing-page-footer-top-section-ul">
                    <li><a>Partners</a></li>
                    <li><a>Buy Houses</a></li>
                    <li><a>Rent your place</a></li>
                    <li><a>Find deals</a></li>
                    <li><a>Compare Prices</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 form-group" >
                <h2 class="landing-page-footer-top-section-header">DEALS</h2>
                <ul class="landing-page-footer-top-section-ul">
                    <li><a>Payment</a></li>
                    <li><a>Bidding</a></li>
                    <li><a>Aceptance</a></li>
                    <li><a>Cool Deals</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2 form-group" >
                <h2 class="landing-page-footer-top-section-header">CONTACT</h2>
                <ul class="landing-page-footer-top-section-ul">
                    <li><a>#RoomAuctionUK</a></li>
                    <li><a>RoomAuctionUK</a></li>
                    <li><a>RoomAuctionUK</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--featured product list<br/>
============================<br/>
<ul>
    <li *ngFor="let product of featuredProductList">
        id: {{product.id}} , title: {{product.title}}, price : {{product.price}}, img : {{product.img}}, time : {{product.time}}
</li>
</ul>-->
<!--<div class="login jumbotron center-block">
    <h1>Login</h1>
    <form role="form" (submit)="login($event, username.value, password.value)">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" #username class="form-control" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" #password class="form-control" id="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        <a [routerLink]="['/signup']" (click)="signup($event)">Click here to Signup</a>
    </form>
</div>-->

<!--product list<br/>
============================<br/>


<ul>
    <li *ngFor="let product of productList">
        location type: {{product.location_type}} query string: {{product.search_string}}
</li>
</ul>-->


<!--featured product list<br/>
============================<br/>
<ul>
    <li *ngFor="let product of featuredProductList">
        id: {{product.id}} , title: {{product.title}}, price : {{product.price}}, img : {{product.img}}, time : {{product.time}}
</li>
</ul>-->
<!--
<form role="form" (submit)="search($event, searchId.value)">
      <div class="form-group">
        <label for="id">Search Id</label>
        <input type="text" #searchId class="form-control" id="searchId" placeholder="searchId">
    </div>
    <button type="submit" class="btn btn-default">Search</button>
</form>-->