<div class="container">
    <div class="row form-group steps">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">
            <img src="resources/images/steps1.png">
            <span class="hd-content">Create a <a [routerLink]="['/signup']" (click)="signup($event)">free account</a> and log in!</span>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">
            <img src="resources/images/steps2.png">
            <span class="hd-content">Bid and Win</span>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">
            <img src="resources/images/steps3.png">
            <span class="hd-content">Pay the seller</span>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">
            <img src="resources/images/steps4.png">
            <span class="hd-content">Enjoy your purchase</span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8 form-group">
            <div class="search-box-pagelet form-group">
                <form role="form" (submit)="search($event, searchId.value)">
                      <div class="row form-group">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h1 for="id" class="text-center search-box-header-text">Find your soltion</h1>
                            <h3 for="id" class="text-center search-box-small-text">Search properties for sale and to rent</h3>
                        </div>
                    </div>
                      <div class="row form-group">
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 form-group">
                            <ng2-completer id='searchId' class="form-control search-input-field" placeholder="Search for Your Result" name='searchId' [(ngModel)]="captain" [datasource]="dataService" [minSearchLength]="0"></ng2-completer>
                          
                            <!--<input type="text" #searchId class="form-control search-input-field" id="searchId" placeholder="Search for Your Result">-->
<!--                            <div class="search-box-search-result-layout"> 
                                <ul class="search-box-search-result-ul">
                                    <li *ngFor="let product of productList">
                                        location type: {{product.location_type}} query string: {{product.search_string}}
                                </li>
                            </ul>
                        </div>-->
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 form-group">
                        <button type="submit" class="form-control common-custom-button">Rent</button>
                    </div>
                </div>
            </form> 
        </div>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
        <form role="form" (submit)="login($event, username.value, password.value)">
              <div class="login-pagelet">
                <div class="login-block">
                    <h1>Login</h1>
                    <div class="row form-group">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <button type="submit" class="form-control login-facebook-button"><i class="fa fa-facebook"></i>&nbsp;&nbsp; Log in with Facebook</button> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <input type="text" #username id="username" class="form-control input-custom-field" placeholder="Username"/>
                            <input type="text" #password id="password" class="form-control input-custom-field" placeholder="Password"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group">
                            <button type="submit" class="form-control common-custom-button">Submit</button> 
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="sign-up-anchor">
                                <a [routerLink]="['/signup']" (click)="signup($event)">Click here to Signup</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row form-group margin-top-50px">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2 class="featured-product-list-heading">Featured Product List</h2>
    </div>
</div>
<div class="row form-group">
    <div *ngFor="let product of featuredProductList" class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group" >
        <div class="product-auction-head">
            <div class="product-auction-img">
                <a href=""><img class="img-responsive" src="resources/images/{{product.img}}"></a>
            </div>
            <div class="product-auction-time text-center" id="{{product.id}}">{{product.time}}</div>
            <div class="product-auction-title margin-bottom-5px">
                <h3>{{product.title}}</h3>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" >
                    <div class="product-auction-price">
                        <h3>{{product.price}}</h3>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" >
                    <a class="product-details-button-anchor" href=""> <button class="form-control common-custom-button">Details</button> </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--featured product list<br/>
============================<br/>
<ul>
    <li *ngFor="let product of featuredProductList">
        id: {{product.id}} , title: {{product.title}}, price : {{product.price}}, img : {{product.img}}, time : {{product.time}}
</li>
</ul>-->
<!--<div class="login jumbotron center-block">
    <h1>Login</h1>
    <form role="form" (submit)="login($event, username.value, password.value)">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" #username class="form-control" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" #password class="form-control" id="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        <a [routerLink]="['/signup']" (click)="signup($event)">Click here to Signup</a>
    </form>
</div>-->

<!--product list<br/>
============================<br/>


<ul>
    <li *ngFor="let product of productList">
        location type: {{product.location_type}} query string: {{product.search_string}}
</li>
</ul>-->


<!--featured product list<br/>
============================<br/>
<ul>
    <li *ngFor="let product of featuredProductList">
        id: {{product.id}} , title: {{product.title}}, price : {{product.price}}, img : {{product.img}}, time : {{product.time}}
</li>
</ul>-->
<!--
<form role="form" (submit)="search($event, searchId.value)">
      <div class="form-group">
        <label for="id">Search Id</label>
        <input type="text" #searchId class="form-control" id="searchId" placeholder="searchId">
    </div>
    <button type="submit" class="btn btn-default">Search</button>
</form>-->