<div class="container">
    <nav class="navbar navbar-default product-info-detail-navbar">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#product-info-detail-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#">Brand</a>-->
        </div>

        <div class="collapse navbar-collapse" id="product-info-detail-navbar">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <div class="property-search-page-search-box-layout">
                        <input #locationSelector name="locationSelector" [(ngModel)]="selectedLocation"
                            [typeahead]="locationList"
                            typeaheadOptionField="searchString"
                            class="form-control search-input-field">
                    </div>
                </div>
            </form>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Radius <span class="caret"></span></a>
                    <ul class="dropdown-menu product-info-detail-custom-dropdown-menu">
                        <li *ngFor="let radius of radiusList" ><a href="" id="{{radius.id}}">{{radius.title}}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Min Price <span class="caret"></span></a>
                    <ul class="dropdown-menu product-info-detail-custom-dropdown-menu">
                        <li *ngFor="let minPrice of minPriceList" ><a href="" id="{{minPrice.id}}">{{minPrice.symbol}}{{minPrice.amount}}</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Max Price <span class="caret"></span></a>
                    <ul class="dropdown-menu product-info-detail-custom-dropdown-menu">
                        <li *ngFor="let maxPrice of maxPriceList" ><a href="" id="{{maxPrice.id}}">{{maxPrice.symbol}}{{maxPrice.amount}}</a></li>
                    </ul>
                </li>
                <button type="button" class="common-custom-button custom-nav-button" data-toggle="collapse" data-target="#filsters">Filters <span class="caret"></span></button>
                <div id="filsters" class="collapse filter-content-box">
                    <div class="row form-group">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">
                            <h3 class="filsters-submenu-title">Product Type</h3>
                            <select class="form-control select-custom-field">
                                <option *ngFor="let productType of productTypeList" value="{{productType.title}}"><a id="{{productType.id}}">{{productType.title}}</a></option>
                            </select> 
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">
                            <h3 class="filsters-submenu-title">Occupation</h3>
                            <select class="form-control select-custom-field">
                                <option *ngFor="let occupation of occupationList" value="{{occupation.title}}"><a id="{{occupation.id}}">{{occupation.title}}</a></option>
                            </select> 
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">
                            <h3 class="filsters-submenu-title">Gender</h3>
                            <select class="form-control select-custom-field">
                                <option *ngFor="let gender of genderList" value="{{gender.title}}"><a id="{{gender.id}}">{{gender.title}}</a></option>
                            </select> 
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">
                            <h3 class="filsters-submenu-title">Room Size</h3>
                            <select class="form-control select-custom-field">
                                <option *ngFor="let roomSize of roomSizeList" value="{{roomSize.title}}"><a id="{{roomSize.id}}">{{roomSize.title}}</a></option>
                            </select> 
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 form-group">
                            <h3 class="filsters-submenu-title">Duration</h3>
                            <select class="form-control select-custom-field">
                                <option *ngFor="let duration of durationList" value="{{duration.title}}"><a id="{{duration.id}}">{{duration.title}}</a></option>
                            </select> 
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </nav>
    <div class="row form-group">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="panel with-nav-tabs panel-primary custom-panel">
                <div class="panel-heading custom-panel-heading">
                    <ul class="nav nav-tabs">
                        <li><a href="#map" data-toggle="tab"><i class="fa fa-map-marker" aria-hidden="true"></i> Map</a></li>
                        <li class="active"><a href="#list" data-toggle="tab"><i class="fa fa-list" aria-hidden="true"></i> List</a></li>
                        <li><a href="#grid" data-toggle="tab"><i class="fa fa-bars" aria-hidden="true"></i> Grid</a></li>
                        <!--                        <li class="dropdown">
                                                    <a href="#" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a href="#tab4primary" data-toggle="tab">Primary 4</a></li>
                                                        <li><a href="#tab5primary" data-toggle="tab">Primary 5</a></li>
                                                    </ul>
                                                </li>-->
                    </ul>
                </div>
                <div class="panel-body custom-panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade" id="map">Map dispaly section</div>
                        <!--List section content-->
                        <div class="tab-pane fade in active" id="list">
                            <div class="row form-group">
                                <div *ngFor="let product of productList" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
                                    <div class="list-property-section">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                                        <img class="img-responsive list-property-big-img" src="resources/images/{{product.img}}">
                                                    </div>
                                                    <div *ngFor="let image of product.images" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                        <img class="img-responsive list-property-small-img" src="resources/images/{{image.url}}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                                <div class="list-property-top-right-sction">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                            <div class="list-property-title">
                                                                <h4><a [routerLink]="['/productInfo']" (click)="selectProduct($event, 1)">{{product.title}}</a></h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                            <div class="list-property-description">
                                                                <h4>{{product.description}}</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                                <div class="list-property-left-bottom-section">
                                                    <div class="list-property-price">
                                                        <h2>{{product.price}}</h2>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                <div class="list-property-right-bottom-section">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                                                        </div>
                                                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                                            <a [routerLink]="['/signup']" (click)="signup($event)" class="list-property-sign-up-anchor"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                                                        </div>
                                                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                                            <a href="" class="list-property-contact-anchor"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--grid section content-->
                        <div class="tab-pane fade" id="grid">
                            <div class="row form-group">
                                <div *ngFor="let product of productList" class="col-xs-12 col-sm-6 col-md-4 col-lg-4 form-group">
                                    <div class="grid-property-section">
                                        <div class="grid-property-img">
                                            <img class="img-responsive" src="resources/images/{{product.img}}">
                                        </div>
                                        <div class="grid-property-price">
                                            <h3>{{product.price}}</h3>
                                        </div>
                                        <div class="padding-5px">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-12">
                                                    <div class="grid-property-title">
                                                        <h4>{{product.title}}</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                                    <div class="grid-property-description">
                                                        <h4>{{product.description}}</h4>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                    <a [routerLink]="['/signup']" (click)="signup($event)" class="grid-property-sign-up-anchor"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                    <a href="" class="grid-property-contact-anchor"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--                        <div class="tab-pane fade" id="tab4primary">Primary 4</div>
                                                <div class="tab-pane fade" id="tab5primary">Primary 5</div>-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




Search component
<br/>
<br/>
<br/>
selected id {{id}}
<br/>
<br/>
<br/>

product list<br/>
============================<br/>
<ul>
    <li *ngFor="let product of productList">
        id: {{product.id}} , title: {{product.title}}, price : {{product.price}}, img : {{product.img}}, description : {{product.description}}
        Images :
        <div *ngFor="let image of product.images">
            Image Id:{{image.id}} , Image url: {{image.url}}
    </div>
</li>
</ul>

Location list<br/>
============================<br/>
<ul>
    <li *ngFor="let location of locationList">
        id: {{location.id}} , locationType {{location.locationType}}, searchString : {{location.searchString}}
</li>
</ul>

Radius list<br/>
============================<br/>
<ul>
    <li *ngFor="let radius of radiusList">
        id: {{radius.id}} , title: {{radius.title}}
</li>
</ul>

Min Price list<br/>
============================<br/>
<ul>
    <li *ngFor="let minPrice of minPriceList">
        id: {{minPrice.id}} , symbol {{minPrice.symbol}}, amount : {{minPrice.amount}}
</li>
</ul>

Max Price list<br/>
============================<br/>
<ul>
    <li *ngFor="let maxPrice of maxPriceList">
        id: {{maxPrice.id}} , symbol {{maxPrice.symbol}}, amount : {{maxPrice.amount}}
</li>
</ul>

Product Type list<br/>
============================<br/>
<ul>
    <li *ngFor="let productType of productTypeList">
        id: {{productType.id}} , title: {{productType.title}}
</li>
</ul>

Occupation list<br/>
============================<br/>
<ul>
    <li *ngFor="let occupation of occupationList">
        id: {{occupation.id}} , title: {{occupation.title}}
</li>
</ul>

Gender list<br/>
============================<br/>
<ul>
    <li *ngFor="let gender of genderList">
        id: {{gender.id}} , title: {{gender.title}}
</li>
</ul>

Room size list<br/>
============================<br/>
<ul>
    <li *ngFor="let roomSize of roomSizeList">
        id: {{roomSize.id}} , title: {{roomSize.title}}
</li>
</ul>

Duration list<br/>
============================<br/>
<ul>
    <li *ngFor="let duration of durationList">
        id: {{duration.id}} , title: {{duration.title}}
</li>
</ul>

